





/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding:80px 10px; position: relative;}

.content-box .header h2{font-size: 60px;  line-height: 1.2;font-weight: 500;}
.content-box .header .wrapper{padding: 5px; display: inline-block;}
.content-box .header .intro {color: #FF69B4;font-size: 18px;}

.content-box.boxstyle-1{background:#fff; color: #333;}
.content-box.boxstyle-2{background:#F9F7F1;}
.content-box.boxstyle-3{background:#4F464B; color: #fff;}

.content-box.box-1 {}
.content-box.box-1 h1{font-size: 48px; font-weight: 500;color: #333;line-height: 1.2;margin-bottom: 30px;}
.content-box.box-1 .fix-right{float: right !important; text-align: right;}
@media all and (max-width: 767px){
	.content-box.box-1{text-align: center;}
	.content-box.box-1 .fix-right{float: none !important; text-align: center;}
}

.content-box.box-2 {}

.content-box.box-2 img{}


.content-box.box-4 {text-align: center;}
.content-box.box-4 .item{border: 1px solid #ccc;padding: 10px; background-color: #fff;}
.content-box.box-4 .item:hover {border: 1px solid #FF69B4;}

.content-box.box-4 .item img{display: block;width: 100% !important;height: auto;-webkit-transition: all .5s ease; /* Safari and Chrome */-moz-transition: all .5s ease; /* Firefox */-ms-transition: all .5s ease; /* IE 9 */-o-transition: all .5s ease; /* Opera */transition: all .5s ease;}

.content-box.box-4 .item span{font-size: 15px;font-weight: bold;color: #000;}


}





a.button{
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border:1px solid #ffffff; 
	display: inline-block;
	text-decoration: none;
	background: #FF69B4;
	margin: 5px 0;
	text-transform: uppercase;
	color: #fff;
	padding: 6px 20px;
	border-radius: 4px;
}
a.button:hover{text-decoration: none; background: #303030;}

a.button.bt1 {background: #56AE33;color: #ffffff;padding: 5px 20px;width: 100%;text-align: center;border:1px solid #56AE33; }
a.button.bt2 {background: #0000ff;color: #ffffff;}

