/******************************************************************
	Fonts
******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);		

									
/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************
	Text Selection Styles
******************************************************************/
::selection {
	background: #272727;
	color: #fff;
}
::-moz-selection {
	background: #272727;
	color: #fff;
}
::-webkit-selection {
	background: #6093e7;
	color: #fff;
}
a {
	outline: none;
}

/******************************************************************
	General
******************************************************************/								
a {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: #616161;
}
a:hover {
	color: #6093e7;
}
b {
	font-weight: bold;
}
p {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 12px;
}
h1 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 40px;
}
h2 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 20px;
}
h3 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18px;
}
h4 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16px;
}
h5 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 14px;
}
h6 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 12px;
}
.hidden {
	display: none;
}
.block {
	display: block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/******************************************************************
	Colors
******************************************************************/
.white {
	color: #FFF;
}
.color {
	color: #838282;
}
.dark-gray {
	color: #4b4b4b;
}
.mid-gray {
	color: #ababab;
}
.light-gray {
	color: #cfcfcf;
}

/******************************************************************
	Main
******************************************************************/
.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.content.sidebar {
	width: 659px;
	float: left;
	margin-top: 40px;
	border-right: 1px solid #e7e7e7;
}
.sidebar {
	width: 300px;
	float: right;
}
blockquote {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 60px;
	width: 100%;
	background-color: #f6f6f6;
	height: 100px;
	text-align: center;
	padding-top: 40px;
	color: #616161;
	font-weight: 300;
	font-style: italic;
}
blockquote:before {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
blockquote:after {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
div.pagetitle {
	width: 100%;
	background-color: #6093e7;
	height: 120px;
}
div.pagetitle h1 {
	line-height: 120px;
	color: #FFF;
	text-align: center;
}
p.main {
	font-size: 15px;
	text-align: center;
	margin: 50px auto;
	font-weight: 400;
}
div.section.divider {
	width: 100%;
	height: 40px;
	border-top: 1px solid black;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
div.section.divider.single {
	border-top: 1px solid black;
	margin-top: 150px;
}
div.section.divider h2 {
	font-weight: 400;
	color: black;
	background-color: #FFF;
	margin-top: -20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-transform: uppercase;
}
a.scroll {
	width: 100%;
	display: block;
}
div.icon {
	font-size: 80px;
	color: #FFF;
}
.front div.icon {
	line-height: 210px;
	text-align: center;
}

/******************************************************************
	Hero Images
******************************************************************/

.hero {
	width: 100%;
	height: 100%;
}
.home.hero {
	background-image: url(../img/foto1.jpg);
	background-size: cover;
}
.overlay {
	background-image: url(../img/overlay_light_diagonal.png);
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}
.herowrapper {
	position: absolute;
	top: 50%;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
.herowrapper h1 {
	text-align: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 300;
}
.herowrapper b {

	background-color: rgba(255, 255, 255, 0.8);
	padding: 0px 5px;
}

.circle{

	max-width: 100%
	height:auto
}
a.down {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.scrolldown .icon {
	font-size: 20px;
	text-align: center;
}
.scrolldown h3 {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 300;
}

/******************************************************************
	Menu
******************************************************************/
.menubar {
	position: fixed;
	top: -10px;
	height: 70px;
	width: 100%;
	z-index: 9999;
	background-color: #FFF;
	margin-top: -80px;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.menubar.alt {
	background-color: #f6f6f6;
}
a.logo {
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../img/foto3.png);
	margin: 15px 0px 0px 40px;
}
ul.mainmenu {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	float: right;
	margin: 0px 40px 0px 0px;
	text-transform: uppercase;
	font-weight: 300;
}
ul.mainmenu li {
	cursor: pointer;
	display: inline-block;
	padding: 30px 10px 31px 10px;
}
ul.mainmenu li a {
	font-size: 12px;
	color: #838282;
	-webkit-transition: color 400ms ease;
	-moz-transition: color 400ms ease;
	-o-transition: color 400ms ease;
	-ms-transition: color 400ms ease;
	transition: color 400ms ease;
}
ul.mainmenu li:hover a {
	color: #272727;
}
ul.mainmenu li.active a {
	font-weight: bold;
	color: #272727;
}

/******************************************************************
	Footer
******************************************************************/
footer.main {
	height: 195px;
	width: 100%;
	margin-top: 60px;
	text-align: center;
}
footer.main h6.copyright {
	color: #FFF;
	line-height: 50px;
	background-color: #272727;
}

/******************************************************************
	Home Page
******************************************************************/
div.section.full {
	margin: 40px 0px;
	clear: both;
	width: 960px;
	overflow: hidden;
}
div.section.full li {
	width: 220px;
	margin-top: 20px;
	margin-right: 26px;
}
div.section.block {
	width: 220px;
	height: 185px;
	background-color: #f6f6f6;
	text-align: center;
	float: left;
	cursor: pointer;
}
div.section.block h5 {
	margin-top: 15px;
}
div.section.block h6 {
	color: #838282;
}
div.section.block img {
	width: 220px;
	height: 185px;
	display: block;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 1;
}
div.section.block .content {
	width: 220px;
	height: 85px;
	position: absolute;
	z-index: 5;
	background-color: #f6f6f6;
	margin-top: 104px;
}
div.section.block .hover {
	width: 220px;
	height: 185px;
	position: relative;
	z-index: 10;
	display: none;
}
div.section.block .hover.content {
	width: 220px;
	height: 182px;
	position: relative;
	display: block;
	background-color: rgba(96, 147, 231, 0.6);
	z-index: 10;
	border-bottom: 3px solid #6093e7;
	margin-top: 0px;
}
div.section.block .hover.content h2 {
	padding-top: 40px;
	font-size: 40px;
	font-weight: 400;
	color: #FFF;
}
div.section.block .hover.content h5 {
	font-weight: 400;
	color: #FFF;
}
div.section.block .hover.content h6 {
	font-weight: 400;
	color: #FFF;
}
div.section.full li:last-child  {
	margin-right: 0px;
}
div.section.block.blog {
	text-align: left;
	height: 220px;
}
div.section.block.blog .hover {
	left: -10px;
}
div.section.block.blog img {
	height: 220px;
}
div.section.block h2 {
	text-align: center;
}
div.section.block.blog h5, div.section.block.blog h6, div.section.block.blog a {
	margin-left: 20px;
}
div.section.block.blog .content h5 {
	margin-top: 8px;
}
div.section.block.blog .content {
	height: 220px;
}
div.section.block.blog .hover {
	height: 217px;
}
a.readmore {
	display: block;
	margin-top: 5px;
}
div.section.block.blog .hover a.readmore {
	color: #FFF;
}

/******************************************************************
	About Us
******************************************************************/
div.person {
	width: 920px;
	margin: 50px auto;
}
div.person div.image {
	width: 340px;
	height: 250px;
	float: left;
	margin-bottom: 40px;
}
div.person div.info {
	width: 520px;
	float: right;
	padding: 0px 30px;
}
div.person div.image img {
	position: absolute;
}
div.quotehover {
	cursor: pointer;
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
	width: 250px;
	height: 250px;

	/*background-image: url(../img/quotehover.png);*/
	background-repeat: no-repeat;
	background-color: rgba(96, 147, 231, 0.6);
}


/******************************************************************
	Blog
******************************************************************/
article.post {
	width: 600px;
	margin: 20px 60px 0px 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
}
article.post.full {
	display: none;
}
#postsfull {
	display: none;
}
div.content article:last-child {
	border-bottom: none;
}
div.postimage {
	float: left;
	width: 430px;
	height: 170px;
}
div.postimage img {
	position: absolute;
}
div.posthover {
	opacity: 0;
	position: relative;
	top: 0px;
	left: 0px;
	width: 430px;
	height: 170px;
	background-color: rgba(96, 147, 231, 0.6);
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
article.post .hover:hover div.posthover {
	opacity: 1;
}
article.post .hover:hover div.postinfo {
	background-color: #6093e7;
}
article.post .hover:hover div.postinfo h6, article.post .hover:hover div.postinfo b {
	color: #FFF;
}
div.posthover a {
	display: block;
	font-size: 24px;
	text-align: center;
	color: #FFF;
	line-height: 170px;
}
div.postinfo {
	float: right;
	width: 110px;
	height: 50px;
	background-color: #f6f6f6;
	padding: 60px 30px;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
article.post h3 {
	clear: both;
	padding-top: 10px; 
}
article.post p {
	clear: both;
	padding-top: 4px; 
}

/******************************************************************
	Footer
******************************************************************/
.footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: black;
}
.footer h6 {
	line-height: 50px;
	color: #FFF;
}

.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}

/******************************************************************
	Mobile
******************************************************************/
@media all and (max-width: 960px) {
	ul.portfolio li {
		width: 50%;
	}
}

.redsocial{
	text-align: center;
    margin: 50px auto;
    
}


























#filter{
	display: inline-block;
	margin-top: 45px;
}
.view ul a:hover , .view ul a:hover i{
	color:#fd5f5b;
}
.view ul a{
	display:inline-block;
	color:#a9a9a9;
	font-size: 13px;
	font-family: "Open Sans", Verdana, Arial, sans-serif;

	font-weight: 300;
}
.pb2{
	margin-top: 25px;

}
.pb3{
	margin-top: 25px;
}
/**/
.cBtn ul i{
	padding-right: 10px;
}
.cBtn .dowbload, .cBtn .buy{
	margin-left: 10px;
	margin-top: 4px;
	padding: 13px;
	padding-right: 20px;
	padding-left: 20px;
	
}
.cBtn .dowbload a, .cBtn .buy a{
	font-size: 14px;
	font-family: "Open Sans", Verdana, Arial, sans-serif;

	font-weight: 700;
}
.cBtn .buy{
	box-shadow: 0px 2px 0px 0px #179abf;
	background:#1fcdff ;
}
.cBtn .buy:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}
/**/
.line4{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	/*background: url(../images/line4.png) center center no-repeat;*/
	/*background:#3f2d28;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line4:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	/*background: url(../images/sliderL.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line4:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
	//bottom: 489px;
}
.line4 .Ama{
	/*margin-top: 121px;
	margin-bottom: 94px;*/
}
/**/
.news{
	margin-top: 50px;
}
.news2{
	margin-top: 25px;
}
.news img{
	border-radius:3px;
}
.news h3{
	text-align:center;
	color:#2f2f2f;
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.news p{	
	line-height: 23px;
	color:#666666;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.readMore{
	color: black;
}
.readMore i{
	font-size:13px;
}
.news .readMore{
	text-decoration:none;
}
.news .readMore:hover{
	color:#666666;
}
.news h3 a{
	text-align: center;
	color: #2f2f2f;
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	text-decoration:none;
}
.news h3 a:hover{
	color: #1fcdff;
}
.news ul{
	margin-top: 14px;
	padding-left:0;
	text-align:center;
	
}
.news ul li{
	padding-right: 20px;
	display:inline-block;
	list-style:none;
}
.news ul li a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#a9a9a9;
	font-size:13px;
	text-decoration:none;
	list-style:none;
}
.news ul li{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#a9a9a9;
	font-size:13px;
	text-decoration:none;
	list-style:none;
}
.news ul li a i{
	padding-right:5px;
}
.news li i{
	padding-right:5px;
}
.news ul li a:hover{
	color:#1fcdff;
}
.hrNews{
	margin-top: 18px;
	border: 0;
	height: 1px;
	background-color:#fff;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}
/**/
.mNews{
	margin-top: 26px !important;
	margin-left: -49px !important;
}
.line5 .Ama{
	/*margin-top: 127px;
	margin-bottom: 94px;*/
}
.line5{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	/*background: url(../images/line5Bg.jpg) center center no-repeat;	*/
	/*background:#3f2d28;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line5:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	/*background: url(../images/sliderL.png) center center no-repeat;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line5:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
	//bottom: 489px;
}
/**/
.forma{
	margin-bottom: -80px;
	z-index: 10;
	margin-top: 48px;
}
.forma input{
	border-radius:4px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#555555;
	background:#ededed;
}
input:focus{
	//border:0;
	outline:none;
}
textarea:focus{
	//border:0;
	outline:none;
}
.name{
	margin-bottom:10px;
	margin-right: 10px;
	width:403px;
}
.Email{
	margin-bottom:10px;
	width:403px;
}
.Subject{
	margin-bottom:10px;
	max-width: 816px;
}

textarea {
	border-radius:4px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#555555;
	background:#ededed;
	border:none;
    max-width: 816px;
	height: 153px;
    resize: none;
   }
.forma input:focus, .forma textarea:focus{
	background:#dfdfdf;
	border:0;
}
.forma .cBtn a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	font-size:13px;
	color:#fff;
}

.forma .cBtn ul{
	margin-left: -15px;
	margin-top: 6px;
	padding-left:0;
	margin-bottom: 0;
}
.forma .cBtn ul i{
	padding-right: 10px;
}
.forma .cBtn .clear , .cBtn .send{
	margin-bottom: 0;
	margin-top: 4px;
	padding: 10px;
	padding-right: 17px;
	padding-left: 17px
	
}
.forma .cBtn .clear  a, .cBtn .send a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.forma .cBtn .send{
	box-shadow: 0px 2px 0px 0px #179abf;
	background:#1fcdff ;
}
.forma .cBtn .send:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}

/**/
.cont{
	margin-top: 44px;
	margin-left: -33px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#666666;
	margin-bottom: -80px;
	z-index: 10;
}
.cont ul{
	padding-left:0;
	list-style:none;
}
.cont li{
 margin-bottom: 16px;

}
.cont .fa{
	color:#2f2f2f;
	padding-right:14px;
}
.cont a{
	text-decoration:none;
	color:#1fcdff;
}
.cont a:hover{
	color:#666666;
}

/**/
.line6 iframe{
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
 /*
	filter: url(filters.svg#grayscale); 
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);*/

.line6{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 700px;
}
.line6:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line6:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
	//bottom: 489px;
}
.line6 .Ama{
	margin-top: 250px;
	margin-bottom: 250px;;
}
.line6 .Ama h3{
	font-size: 42px;
	text-align:center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}
.line6 .Ama p{
	font-size: 16px;
	text-align:center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
/**/
.ftext{
	text-align: center;
	margin-bottom: -18px;
	z-index: 10;
	text-align:center;
}
.ftext h3{
	font-size:28px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400; 
	margin-top: 37px;
}
.ftext p{
	font-size:16px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	margin-top: 13px;
	line-height: 24px;
}
.ftext .cBtn ul {
	margin-top: 40px;
	margin-top: 22px;
}
/**/
.line7{
	position: relative;
	width: 100%;
	overflow: hidden;
	max-height:100%;
	//background:#3f2d28;
	background: url(../images/line7Bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
/*.line7:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 184px;
	background: url(../images/bgFooter.png) no-repeat;
}*/

.line7:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	/* background: url(../images/sliderL.png) center center no-repeat; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* height: 10px; */
	border-top: 150px solid white;
	border-right: 3000px solid transparent;
	//bottom: 489px;
}
.footer{
	margin-top: 40px;
	min-height:60px;
}
.footer h3{
	margin-top: 159px;
	font-size: 28px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin-bottom: 17px;
}
.footer p{
	font-size:16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#fff;
	text-align:center;
}
.footer .fEmail{
	float:left;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	border: 0;
	background: #1c1c1c;
	color: #fff;
	padding: 11px;
	width: 350px;
	border-radius: 4px 0px 0px 4px;
	padding-left: 20px;
}
.footer .email{
	float:left;
}
.footer .subS{
	text-transform:uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	float: left;
	color: #fff;
	border-radius: 0 4px 4px 0;
	text-decoration: none;
	box-shadow: 0px 2px 0px 0px #179abf;
	background: #1fcdff;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.fr{
	margin-top: 40px;
	text-align: center;
	//margin: 40px 0 0 357px;
}
.footer a:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}
/**/
.soc ul li{
	margin-bottom: 20px;
	margin-right: 23px;
	float:left;
	text-align: center;
	text-decoration:none;
	list-style:none;
	
}
.soc {
	margin-top: 42px;
	text-align: center;
}
.soc ul{
	margin-left: 24px;
	padding-left: 0;
	display: inline-block;	
}
.soc1 a{
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../images/socIcons.png)no-repeat;
	margin-top: 15px;
	margin-left: 2px;
}
.soc1{
	width: 52px;
	height: 52px;

	
	
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc1 a:hover{
	border:0;
	background: url(../images/socIcons.png)no-repeat;
	box-shadow: none;
}
.soc1:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc2 a{
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../images/socIcons.png) -74px 0 no-repeat;
	margin-top: 15px;
	margin-left: 2px;
}
.soc2{
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc2 a:hover{
	border:0;
	background: url(../images/socIcons.png) -74px 0 no-repeat;
	box-shadow: none;
}
.soc2:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc3 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -147px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc3{
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc3 a:hover{
	border:0;
	background: url(../images/socIcons.png) -147px 0 no-repeat;
	box-shadow: none;
}
.soc3:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc4 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -221px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc4{
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc4 a:hover{
	border:0;
	background: url(../images/socIcons.png) -221px 0 no-repeat;
	box-shadow: none;
}
.soc4:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc5 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -293px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc5{
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc5 a:hover{
	border:0;
	background: url(../images/socIcons.png) -293px 0 no-repeat;
	box-shadow: none;
}
.soc5:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc6 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -368px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc6{
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc6 a:hover{
	border:0;
	background: url(../images/socIcons.png) -368px 0 no-repeat;
	box-shadow: none;
}
.soc6:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc7 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -442px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc7{
	width: 52px;
	height: 52px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc7 a:hover{
	border:0;
	background: url(../images/socIcons.png) -442px 0 no-repeat;
	box-shadow: none;
}
.soc7:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}
.soc8 a{
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url(../images/socIcons.png) -516px 0 no-repeat;
	margin-top: 15px;
	margin-left: 0px;
}
.soc8{
	width: 50px;
	height: 50px;
	border: 2px solid #fdfdfc;
	border-radius: 50px;
}
.soc8 a:hover{
	border:0;
	background: url(../images/socIcons.png) -516px 0 no-repeat;
	box-shadow: none;
}
.soc8:hover{
	cursor:pointer;
	border: 2px solid #1c1c1c;
	background:#1c1c1c;
}

/**/
.lineBlack{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	
	background: url(../images/bgFooter.png)  no-repeat;
	background:#101010;
}
.downLine{
	margin-bottom: 35px;
	margin-top: 127px;
}
.downLine p{
	font-size:13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#fff;
}
.lineBlack:before{
	top: 0;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 178px;
	background: url(../images/bgBeforFooter.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.lineBlack input{
	margin-top: 3px;
}
#downMenu{
	float:right;
}
#downMenu li{
	height: 16px;
	border-right:1px solid #343434;
	float:left;
	list-style: none;
}
#downMenu li:last-child{
	border-right:none;
}
#downMenu li a{
	padding: 15px;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
#downMenu li:last-child a{
	padding-right:0;
}
#downMenu li a:hover{
	color:#6d6d6d;
}
.downLine input{
	max-width: 95px;
	border:0;
	background:#101010;
	font-size:13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#6d6d6d;
}
.copy{
	margin-top: 29px;
}
.dm{
	margin-top: 29px;
}
/**/
/*responsive*/
@media screen and (max-width: 1190px){
	.horL {
		display:none;
	}

}


@media screen and (max-width: 991px){
	.copy p{
		text-align:center;
	}
	#downMenu ul li{
		float: none;
		text-align:center;
	}
	.downLine input{
		margin-top: 25px;
	}
	.footer .fEmail{
	float:left;
	//max-width: 350px;
	max-width: 163px;
	}
	#downMenu li a {
	padding: 5px;
}
	.team ul{
		margin-bottom: 35px;
	}
	.cont {
	margin-top: 124px;]
	}
	.cBtn ul {
	margin-left: 0;
	}
	.line6 iframe{
		height:750px;
	}
	.line6{
		height:350px;
	}
}


.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

/* __________ Filter __________ */
/*#filter {padding:11px 0 25px; text-align:center;}
#filter li {display:inline-block;}
#filter li a {
	display:block;
	padding:0 22px;
	text-transform:capitalize;
	line-height:20px;
	font-size:15px;
	color:#707070;
}*/
#filter li a.selected {
	cursor:pointer;
	background:#1fcdff;
	color:#fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}

#projects .columns1 .project {
	width:100%;
}

.load_more_cont {
	//width:100%;
	padding:10px 0 0;
}


/* __________ Portfolio Item __________ */
.portfolio_block {
	width:100%;
}
.portfolio_block .project .hover_img {
	position:relative;
}

.portfolio_block.project_descr {
	position:relative;
	padding:37px 10px 14px;
	color:#979797;
	border:0;
	border-bottom:2px solid #ededed;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.portfolio_block .project:hover .project_descr {border-bottom-color:#765692;}
.portfolio_block .project_descr h4 {
	margin-bottom:11px;
	font-size:15px;
}



.blogpost_share {
    display: block;
    float: right;
}



/*                                                                    */
	.default{
		transition-duration: 1s;
	}
    .fixed {
		transition-duration: 1s;
		/*text-align:center;*/
		z-index:999;
        position:fixed;
        top: -65px; 
        padding:20px 0;
        width:100%;
		background-color: #101010!important;
    }

/**/


