@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8463fg');
  src:  url('fonts/icomoon.eot?8463fg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8463fg') format('truetype'),
    url('fonts/icomoon.woff?8463fg') format('woff'),
    url('fonts/icomoon.svg?8463fg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}

